body {
    padding: 0px;
    margin: 0px;
}

p,
h2 {
    text-align: center;
    color: #333333;
    font-weight: 700;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 22px;
}

div {
    text-align: center;
}

hr {
    width: 60px;
    height: 3px;
    border: 0px;
    background-color: #f1ad1d;
    margin: 70px auto;
}

.menu {
    width: 1200px;
    margin: 0 auto;
}

.menu_logo {
    display: line-block;
    text-transform: uppercase;
    font-weight: 600px;
    color: #f1ad1d;
    font-size: 34px;
    width: 150px;
}

.menu_list {
    display: line-block;
    font-size: 28px;
    text-align: right;
    width: 1000px;
}

.menu_item {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #f1ad1d;
}

.parts4 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.foto {
    width: 40%;
    display: inline-block;
}

.block_text {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    text-align: justify;
}

.consulting_orange {
    color: #f1ad1d;
}

.business {
    text-align: left;
    font-size: 30px;
}

.button {
    width: 176px;
    height: 51px;
    color: white;
    text-align: center;
}